@import url('https://fonts.googleapis.com/css2?family= Poppins: wght @800 & display=swap');
*{
	/* margin: 0;
	padding: 0;*/
	box-sizing: border-box;
}
	h2{
		font-family:  comic sans ms;
		font-size: 25px;
		text-align:left ;
		color:white ;
	}
	p{
		font-size: 25px;
		font-family: comic sans ms ;
		text-align:left ;
		color:white ;
	}
	li{
		font-family:  comic sans ms;
		font-size: 22px;
		text-align:left ;
		color:white ;
	}
	a{
		color:yellow ;
		text-decoration: none;
	}
	td{
		border: 0px solid black;
		width:700;
	}
	body{
		background:url(fundo.jpg);
		background-size: cover;
		background-attachment: fixed;
		margin-right: 30px;
		margin-left:30px ;
		margin-top:30px ;
	}
	font.nome1{
		font-family: Bahnschrift SemiBold;
		font-size: 30px;
		text-align:center ;
		color:rgb(255,128,0) ;
	}
	font.titulo1{
		font-family: comic sans ms;
		font-size: 25px;
		text-align:center ;
		color:rgb(255,128,0) ;
	}
	font.titulo2{
		font-family: comic sans ms;
		font-size: 25px;
		text-align:center ;
		color:#ffffff ;
	}
	h1{
		font-family: Bahnschrift SemiBold;
		font-size: 30px;
		text-align:center ;
		color:white ;
	}
	font.mine{
	    color:rgb(139,69,19) ;
	    font-family:comic sans ms ;
	    text-align: left;
	    font-size:25px ;
	    text-decoration: none;
	}
	font.craft{
	    color:rgb(51,255,51) ;
	    font-family:comic sans ms ;
	    text-align: left;
	    font-size:25px ;
	    text-decoration: none;
	}
	font.branco{
	color:white ;
	font-family:comic sans ms ;
	text-align: left;
	font-size:25px ;
	}
	font.duty{
	color:rgb(236,113,18) ;
	font-family:comic sans ms ;
	text-align: left;
	font-size:25px ;
	}
	font.fort{
	color:rgb(30,144,255) ;
	font-family:comic sans ms ;
	text-align: left;
	font-size:25px ;
	}
	font.nite{
	color:rgb(186,85,211) ;
	font-family:comic sans ms ;
	text-align: left;
	font-size:25px ;
	}
	font.watch{
 	text-align:left ;
	color:rgb(218,165,32) ;
	font-family:Comic Sans MS ;
	font-size:25px
    }
	.cell{
		position: relative;
		margin: 0 15;
		width: 960px;
		height: 540px;
		overflow: hidden;
		border-radius: 8px;
	}
	.cell img{
		width: 100%;
		height: 540px;
		border-radius: 5px;
		object-fit: cover;
		display: block;
	}
	.overlay{
		position: absolute;
		inset: 0;
		opacity: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: .5s ease-in-out;
		background-color: rgba(0, 0, 0, 0.6);
		color: #ffffff;
		display: flex;
		flex-direction: column;
		font-family: comic sans ms;
		align-items: center;
		justify-content: center;
	}
	.title{
		font-size: 2em;
		font-weight: bold;
		color: #ffffff;
		text-align: center;
	}
	.cell:hover .overlay{
		opacity: 1;
	}
	nav.mapas{
		display: flex;
		margin-right: 15px;
	}
	.btn{
		text-decoration: none;
		padding: 0.5rem 1rem;
		background: #ffffff;
		color: #000;
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;
		transition: .5s ease-in-out;
		margin-left: 15px;
	}
	.btn:hover{
		box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
	}
	.slide{
		height: 100%;
		width: 200px;
		position: fixed;
		top: 0;
		left: -20;
		background-color: #fff;
		transition: 0.5s ease;
		transform: translateX(-180px);
		z-index: 5;
		font-family: 'Poppins',sans-serif;
	}
	.slide h1{
		color: #8000ff;
		font-weight: 800;
		text-align: right;
		padding: 10px 0;
		padding-right: 30px;
		pointer-events: none;
		font-family: 'Poppins',sans-serif;
	}
	.slide h1.menu2{
		color: #8000ff;
		font-weight: 800;
		text-align: right;
		padding: 10px 0;
		padding-right: 60px;
		pointer-events: none;
		font-family: 'Poppins',sans-serif;
	}
	.slide ul li{
		list-style: none;
		font-family: 'Poppins',sans-serif;
	}
	.slide ul li a{
		color: #011a41;
		font-weight: 500;
		padding: 5px 5;
		margin-left: -20px;
		padding-left: 15px;
		display: block;
		text-transform: capitalize;
		text-decoration: none;
		transition: 0.2s ease-out;
		font-family: 'Poppins',sans-serif;
	}
	.slide ul li:hover a{
		color: #fff;
		background-color: #8000ff;
	}
	input{
		display: none;
		visibility: hidden;
		-webkit-appearance: none;
	}
	.toggle{
		position: fixed;
		height: 30px;
		width: 30px;
		top: 37px;
		left: 15px;
		z-index: 6;
		cursor: pointer;
		border-radius: 2px;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
	}
	.toggle .common{
		position: absolute;
		height: 2px;
		width: 20px;
		background-color: #8000ff;
		border-radius: 50px;
		transition: 0.3s ease;
	}
	.toggle .top_line{
		top: 30%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.toggle .middle_line{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.toggle .bottom_line{
		top: 70%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	input:checked ~ .toggle .top_line{
		left: 2px;
		top: 14px;
		width: 25px;
		transform: rotate(45deg);
	}
	input:checked ~ .toggle .bottom_line{
		left: 2px;
		top: 14px;
		width: 25px;
		transform: rotate(-45deg);
	}
	input:checked ~ .toggle .middle_line{
		opacity: 0;
		transform: translateX(20px);
	}
	input:checked ~ .slide{
		transform: translateX(0);
		box-shadow: 0 0 15px rgba(0,0,0,0.5);
	}
	.section{
		display: flex;
		justify-content: space-between;
		width: auto;
	}
	.section .text{
		width: 66%;
	}
	.section .skins{
		width: 360px;
    	height: 360px;
	}
	#icon{
		position: absolute;
		left: 500px;
		border: solid black 1px;
	}
	nav{
		display: flex;
	}