*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
    font-family: Bahnschrift SemiBold;
    font-size: 30px;
    text-align:center ;
    color:white ;
}
h2{
    font-family:  comic sans ms;
    font-size: 25px;
    text-align:left ;
    color:white ;
}
body{
    margin-left:30px ;
    margin-top:30px ;
    background: url(fundo.jpg);
    background-size:cover ;
    background-attachment: fixed;
}
p{
    font-size: 25px;
    font-family: comic sans ms ;
    text-align:left ;
    color:white ;
}
h2.texto{
    font-family: Poppins, sans-serif;
    font-size: 30px;
    text-align:center ;
    color:#ffffff;
}
nav{
    display: flex;
}
table.sites{
    text-align: center;
    width: 800px;
}
table.sites2{
    text-align: center;
    width: 550px;
}
font.mine{
    color:rgb(139,69,19) ;
    font-family:comic sans ms ;
    text-align: left;
    font-size:25px ;
}
font.craft{
    color:rgb(45, 241, 45) ;
    font-family:comic sans ms ;
    text-align: left;
    font-size:25px ;
}
font.branco{
	color:white ;
	font-family:comic sans ms ;
	text-align: left;
	font-size:25px ;
	}
    font.of{
    color: #F5B31E;
    font-family:comic sans ms ;
	text-align: left;
	font-size:25px ;
    }
	font.duty{
	color:rgb(236,113,18) ;
	font-family:comic sans ms ;
	text-align: left;
	font-size:25px ;
	}
	font.fort{
	color:rgb(30,144,255) ;
	font-family:comic sans ms ;
	text-align: left;
	font-size:25px ;
	}
	font.nite{
	color:rgb(186,85,211) ;
	font-family:comic sans ms ;
	text-align: left;
	font-size:25px ;
	}
	font.watch{
 	text-align:left ;
	color:rgb(218,165,32) ;
	font-family:Comic Sans MS ;
	font-size:25px
    }
    font.s{
	font-family: comic sans ms;
	font-size: 25px;
	text-align:center ;
	color:rgb(255,128,0) ;
	}
    a{
        text-decoration: none;
    }
