@import url('https://fonts.googleapis.com/css2?family= Poppins: wght @800 & display=swap');
*{
	/* margin: 0;
	padding: 0;*/
	box-sizing: border-box;
}
h2{
		font-family:  comic sans ms;
		font-size: 25px;
		text-align:left ;
		color:white ;
	}
	h2.texto2{
		font-family:  comic sans ms;
		font-size: 25px;
		text-align:center ;
		color:limegreen ;
	}
	p{
		font-size: 25px;
		font-family: comic sans ms ;
		text-align:left ;
		color:white ;
	}
	li{
		font-family:  comic sans ms;
		font-size: 22px;
		text-align:left ;
		color:white ;
	}
	a{
		text-decoration: none;
		color:yellow ;
	}
	body{
		margin-right: 30px;
		margin-left:30px ;
		margin-top:30px ;
		background: url(fundo.jpg);
		background-size:cover ;
		background-attachment: fixed;
	}
	font.nome1{
		color:rgb(139,69,19) ;
		font-family:Bahnschrift SemiBold ;
		text-align: center;
		font-size:30px ;
	}
	font.nome2{
		color:rgb(51,255,51) ;
		font-family:Bahnschrift SemiBold ;
		text-align: center;
		font-size:30px ;
	}
	font.titulo1{
		color:rgb(139,69,19) ;
		font-family:comic sans ms ;
		text-align: left;
		font-size:25px ;
		text-decoration: underline;
	}
	font.titulo2{
		color:rgb(51,255,51) ;
		font-family:comic sans ms ;
		text-align: left;
		font-size:25px ;
		text-decoration: underline;
	}
	font.atualização{
		color: rgb(0,102,102);
		font-family:comic sans ms ;
		text-align: left;
		font-size:25px ;
		text-decoration: underline;
	}
	h1{
		font-family: Bahnschrift SemiBold;
		font-size: 30px;
		text-align:center ;
		color:white ;
	}
	td{
		border: 0px solid black;
		width:700;
	}
	.slide{
		height: 100%;
		width: 200px;
		position: fixed;
		top: 0;
		left: -20;
		background-color: #fff;
		transition: 0.5s ease;
		transform: translateX(-180px);
		z-index: 5;
		font-family: 'Poppins',sans-serif;
	}
	.slide h1{
		color: #8000ff;
		font-weight: 800;
		text-align: right;
		padding: 10px 0;
		padding-right: 30px;
		pointer-events: none;
		font-family: 'Poppins',sans-serif;
	}
	.slide h1.menu2{
		color: #8000ff;
		font-weight: 800;
		text-align: right;
		padding: 10px 0;
		padding-right: 60px;
		pointer-events: none;
		font-family: 'Poppins',sans-serif;
	}
	.slide ul li{
		list-style: none;
		font-family: 'Poppins',sans-serif;
	}
	.slide ul li a{
		color: #011a41;
		font-weight: bold;
		padding: 5px 5;
		margin-left: -20px;
		padding-left: 15px;
		display: block;
		text-transform: capitalize;
		text-decoration: none;
		transition: 0.2s ease-out;
		font-family: 'Poppins',sans-serif;
	}
	.slide ul li:hover a{
		color: #fff;
		background-color: #8000ff;
	}
        .slide img{
		width: 20px;
		height: 20px;
	}
	input{
		display: none;
		visibility: hidden;
		-webkit-appearance: none;
	}
	.toggle{
		position: fixed;
		height: 30px;
		width: 30px;
		top: 37px;
		left: 15px;
		z-index: 6;
		cursor: pointer;
		border-radius: 2px;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
	}
	.toggle .common{
		position: absolute;
		height: 2px;
		width: 20px;
		background-color: #8000ff;
		border-radius: 50px;
		transition: 0.3s ease;
	}
	.toggle .top_line{
		top: 30%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.toggle .middle_line{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.toggle .bottom_line{
		top: 70%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	input:checked ~ .toggle .top_line{
		left: 2px;
		top: 14px;
		width: 25px;
		transform: rotate(45deg);
	}
	input:checked ~ .toggle .bottom_line{
		left: 2px;
		top: 14px;
		width: 25px;
		transform: rotate(-45deg);
	}
	input:checked ~ .toggle .middle_line{
		opacity: 0;
		transform: translateX(20px);
	}
	input:checked ~ .slide{
		transform: translateX(0);
		box-shadow: 0 0 15px rgba(0,0,0,0.5);
	}
	h2.titulo{
	color: rgb(0,102,102);
	text-align: left;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0px;
	word-spacing: 3px;
	font-family: Comic sans ms;
	font-size: 27px;
    }
    h2.warden{
	color: rgb(0,102,102);
	text-align: left;
	text-decoration: blink;
	text-transform: capitalize;
	letter-spacing: 4px;
	word-spacing: 2px;
	font-family: Comic sans ms;
	font-size: 27px;
    }
    font.h3{
	color:rgb(51,255,51) ;
	font-family:comic sans ms ;
	text-align: left;
	font-size:25px ;
    }
    h3{
	color:rgb(139,69,19) ;
	text-align: left;
	text-decoration:blink ;
	text-transform: inherit;
	letter-spacing: 0px;
	word-spacing: 3px;
	font-family: Comic sans ms;
	font-size: 25px;
    }
    img.luiz{
	width: 1400;
	height: 560;
    }
    font.branco{
	color:white ;
	font-family:comic sans ms ;
	text-align: left;
	font-size:25px ;
	}
	font.duty{
	color:rgb(236,113,18) ;
	font-family:comic sans ms ;
	text-align: left;
	font-size:25px ;
	}
	font.fort{
	color:rgb(30,144,255) ;
	font-family:comic sans ms ;
	text-align: left;
	font-size:25px ;
	}
	font.nite{
	color:rgb(186,85,211) ;
	font-family:comic sans ms ;
	text-align: left;
	font-size:25px ;
	}
	font.watch{
 	text-align:left ;
	color:rgb(218,165,32) ;
	font-family:Comic Sans MS ;
	font-size:25px
    }
    font.s{
	font-family: comic sans ms;
	font-size: 25px;
	text-align:center ;
	color:rgb(255,128,0) ;
	}
